body {
    min-height: 100vh;
    background-position: 0px -20vh;
    background-repeat: no-repeat;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 122, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}